/* 
blue #4F4FD9
*/
:root {
	--background: #8243D6;
	--darker: #FFCF40;
	--lighter: #FFEE40;
	--active: #fdcd90;
	--additional: #FFCF40;
	--inactive: #dddddd;
	--light-text: #e7e7e7;
	--dark-text: black;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;
}

.model-content {
	padding: 1rem;
    background: whitesmoke;
    margin:auto;
    width: 600px;
    max-width: 100%;
    flex-shrink:0;
}
