body {
	background: var(--background);
}

.main {
	display: block;
}

.help-note-circle {
	place-content: center;
	border: none;
	position: absolute;
	text-align: center;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	right: 1.5rem;
	bottom: 0.7rem;
	clip-path: circle(50%);
	background-color: white;
	transition: all 0.12s;
}

.help-note-circle p {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.help-note-circle:hover {
	scale: 1.5;
}

.tile-desc {
	padding: 1rem;
    background: whitesmoke;
    margin:auto;
    width: 600px;
    max-width: 100%;
    flex-shrink:0;
}

.tile-desc span {
	margin-bottom: 0.9rem;
}

.tile-desc span:last-child {
	margin-bottom: 0;
}

.modal-close {
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.close-button-container {
	height: 1rem;
	margin: 0;
	padding: 0.1rem;
	position: relative;
}

.tilesWrap {
	margin-top: 1rem;
	height: auto;
	width: auto;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	list-style-type: none;
}

.visual {
	height: 100px;
	width: 100%;
}

.tile {
	border-radius: 30px;
	font-family: 'helvetica', san-serif;
	background: var(--darker);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-between;
}

.tile h2 {
	font-size: 3rem;
	margin: 0;
}

.tile h3 {
	margin: 0;
	color: black;
}

.tile p {
	color: var(--dark-text);
}

.tile:hover {
	background: var(--lighter);
}

.buttonWrap {
	display: grid;
	place-items: center;
}

.buttonWrap button {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 1.2rem;
	font-weight: bold;
	width: 2rem;
	border-radius: 35%;
	color: var(--dark-text);
	opacity: 0;
	display: block;
	transition: all 0.12s;
	text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
	transform: rotate(180deg);
}

.tile:hover .buttonWrap button {
	text-indent: 0;
	width: auto;
	border-radius: 0%;
	opacity: 1;
	/* background: #262a2b; */
	background: var(--active);
	transform: rotate(360deg);
}

/* .tile:hover .buttonWrap button:hover {
	background: yellow;
} */

.disabled {
	background: var(--inactive);
}

.tile:hover .buttonWrap .disabled:hover {
	background: var(--inactive);
}

.tile:hover .buttonWrap .disabled {
	background: var(--inactive);
}
