body {
	background: #2e2e2a;
}

.main {
	display: block;
}

.tilesWrap {
	height: auto;
	width: auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	list-style-type: none;
}

.visual {
	height: 100px;
	width: 100%;
}

.tile {
	border-radius: 30px;
	font-family: 'helvetica', san-serif;
	background: #2f2f2f;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-between;
}

.tile h2 {
	font-size: 3rem;
	margin: 0;
}

.tile h3 {
	margin: 0;
	color: #b7b7b7;
}

.tile p {
	color: #b7b7b7;
}

.tile:hover {
	background: #3f3f3f;
}

.buttonWrap {
	display: grid;
	place-items: center;
}

.buttonWrap button {
	width: 2rem;
	border-radius: 35%;
	background: gray;
	color: #b0b0b0;
	opacity: 0;
	display: block;
	transition: all 0.12s;
	text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}

.tile:hover .buttonWrap button {
	text-indent: 0;
	width: 5rem;
	border-radius: 0%;
	opacity: 1;
	background: #262a2b;
}

.buttonWrap button:hover {
	background: yellow;
	width: 7rem;
}

