body {
	background: var(--background);
}

.main {
	display: block;
}

.tilesWrap {
	margin-top: 1rem;
	height: auto;
	width: auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	list-style-type: none;
}

.visual {
	height: 100px;
	width: 100%;
}

.tile {
	border-radius: 30px;
	font-family: 'helvetica', san-serif;
	background: var(--darker);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-between;
}

.tile h2 {
	font-size: 3rem;
	margin: 0;
}

.tile h3 {
	margin: 0;
	color: black;
}

.tile p {
	color: var(--dark-text);
}

.tile:hover {
	background: var(--lighter);
}

.buttonWrap {
	display: grid;
	place-items: center;
}

.buttonWrap button {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 1.2rem;
	font-weight: bold;
	width: 2rem;
	border-radius: 35%;
	color: var(--dark-text);
	opacity: 0;
	display: block;
	transition: all 0.12s;
	text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
	transform: rotate(180deg);
}

.tile:hover .buttonWrap button {
	text-indent: 0;
	width: auto;
	border-radius: 0%;
	opacity: 1;
	/* background: #262a2b; */
	background: var(--active);
	transform: rotate(360deg);
}

/* .tile:hover .buttonWrap button:hover {
	background: yellow;
} */

.disabled {
	background: var(--inactive);
}

.tile:hover .buttonWrap .disabled:hover {
	background: var(--inactive);
}

.tile:hover .buttonWrap .disabled {
	background: var(--inactive);
}
