:root {
    --main-block-edge: 60vh;
}

.test-main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.test-main div {
    margin: 10rem;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}

.critical_role {
    width: var(--main-block-edge);
    height: var(--main-block-edge);
    margin-top: calc(50vh - var(--main-block-edge) / 2);
    margin-left: calc(25vw + 50vh - var(--main-block-edge) / 2);
    border-width: 0px;
    border-style: dotted;
    animation-play-state: paused;
    animation: global_rotation 10s linear infinite reverse;
    place-content: center;
    display: grid;
    background-color: black;
    overflow: hidden;
}

.critical_role div:nth-child(1) {
    bottom: 50%;
    left: 100%;
}

.critical_role div:nth-child(2) {
    bottom: 89%;
    left: 81%;
}

.critical_role div:nth-child(3) {
    bottom: 99%;
    left: 39%;
}

/* .critical_role div:nth-child(4) {
    bottom: 72%;
    left: 5%;
} */

.critical_role div:nth-child(4) {
    bottom: 3%;
    left: 75%;
}

.critical_role div:nth-child(5) {
    bottom: 5%;
    left: 28%;
}

.critical_role div:nth-child(6) {
    bottom: 39%;
    left: 1%;
}

.critical_role div:nth-child(7) {
    bottom: 81%;
    left: 10%;
}

#critical_link {
    position: static;
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
    background: transparent;
    transition: all 0.6s;
    font-weight: bold;
}

#critical_link:hover {
    font-size: 1.5rem;
    font-weight: bolder;
    box-shadow: teal 0rem 0rem 3rem 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: teal;
}

#link_container_2 {
    animation: global_rotation 10s linear infinite;
}

#link_container:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
}

.animated_dice {
    transform-style: preserve-3d;
    text-align: center;
}


@keyframes global_rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
