:root {
    --d4-side-angle: 120deg;
    /* acos(radius/width) */
    /* --d4-plane-angle: 73.22deg; */
    /* why 19 and not 73.2????? */
    --d4-plane-angle: 19.5deg;
    --d4-base-radius: 1rem;
    /* triangle side = 6*r / sqrt(3) */
    --d4-triangle-width: calc(var(--d4-base-radius) * 3.4641);
    /* height = width * sin(60) */
    --d4-triangle-height: calc(var(--d4-triangle-width) * 0.866);
    --d4-double-triangle-height: calc(var(--d4-triangle-height) * 2.0);
}

#d4-die {
    transform-style: preserve-3d;
    width: 5rem;
    height: 5rem;
    animation: spinCube 20s infinite ease-in-out;
}

#d4-die figure {
    overflow: hidden;
    transform-style: preserve-3d;
    position: absolute;
    /* backface-visibility: hidden; */
    background-color: gold;
    width: var(--d4-triangle-width);
    height: var(--d4-double-triangle-height);
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%);
    margin: 0;
    top: 0;
    left: 0;
    border: 1px black solid;
    transition: all 5s;
}

#d4-die figure p {
    text-align: center;
    margin-top: 35%;
    background-color: red;
}

#d4-die figure:nth-child(1) { 
    transform: translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ); 
}

#d4-die figure:nth-child(2) { 
    background-color: blueviolet;
    transform: rotateY( var(--d4-side-angle) ) translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ); 
}

#d4-die figure:nth-child(3) {
    background-color: green; 
    transform: rotateY( calc(var(--d4-side-angle) + var(--d4-side-angle)) ) translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ) ; 
}

#d4-die figure:nth-child(4) {
    background-color: blue;
    transform: translateZ(var(--d4-base-radius)) rotateX( 90deg ); 
}
