:root {
    /* 360 / 3 */
    --d4-side-angle: 120deg;
    /* asin( 2*sqrt(2) / 3) = 70.53 */
    /* why 19.47 = 90 - 70.53 */
    --d4-plane-angle: 19.47deg;
    /*  inradius of the triangle  */
    --d4-base-radius: 5rem;
    /* triangle side = 6*r / sqrt(3) */
    --d4-triangle-width: calc(var(--d4-base-radius) * 3.4641);
    /* height = width * sin(60) */
    --d4-triangle-height: calc(var(--d4-triangle-width) * 0.866);
    --d4-double-triangle-height: calc(var(--d4-triangle-height) * 2.0);
}

.test-main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

#d4-die {
    transform-style: preserve-3d;
    width: 5rem;
    height: 5rem;
    animation: spinCube 20s infinite ease-in-out;
}

#d4-die figure {
    overflow: hidden;
    transform-style: preserve-3d;
    position: absolute;
    background-color: gold;
    width: var(--d4-triangle-width);
    /*  double the height, so rotations around X axis are based at the vottom of the triangle   */
    height: var(--d4-double-triangle-height);
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%);
    margin: 0;
    top: 0;
    left: 0;
    border: 1px black solid;
    transition: all 5s;
}

#d4-die figure p {
    text-align: center;
    margin-top: 35%;
    background-color: red;
}

#d4-die figure:nth-child(1) { 
    transform: translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ); 
}

#d4-die figure:nth-child(2) { 
    background-color: blueviolet;
    transform: rotateY( var(--d4-side-angle) ) translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ); 
}

#d4-die figure:nth-child(3) {
    background-color: green; 
    transform: rotateY( calc(var(--d4-side-angle) + var(--d4-side-angle)) ) translateZ( var(--d4-base-radius) ) rotateX( var(--d4-plane-angle) ) ; 
}

#d4-die figure:nth-child(4) {
    background-color: blue;
    transform: translateZ(var(--d4-base-radius)) rotateX( 90deg ); 
}
