.back {
    position: absolute;
    left: 3;
    top: 3;
    background: #4f4f4f;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1% 1%;
    transition: 0.2s;
}

.back:hover,
.back:focus {
    box-shadow: inset 0 0 0 2em #f3a530;
}

.records {
    margin: 0;
    padding-top: 0;
}

.records div {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.records div:nth-child(odd) {
    background: orange;
}
.records div:nth-child(even) {
    background: orchid;
}
.records div:first-child {
    background: brown;
}

.records li {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.records li:nth-child(odd) {
    background: orange;
}
.records li:nth-child(even) {
    background: orchid;
}
.records li:first-child {
    background: brown;
}

.playArea {
    background: #f3e130;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.playArea canvas {
    border: 10px ridge rgba(56, 48, 59, 0.6);
}

.stats {
    text-align: center;
    font: small-caps bold 24px/1 sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%
}

.stats div {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;
}

.modal-content {
    background: #fff;
    margin:auto;
    width: 600px;
    max-width: 100%;
    flex-shrink:0;
}

.modal-close-button {
    background:rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
}

